.profileSideBar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
   background-color: #e7e0e0;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(155, 153, 153);
}

.profileSideBarWrapper {
    padding: 20px;
}

.profileSideBarList {
    padding: 15px;
    margin: 0;
    list-style: none;
}

.profileSidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon {
    margin-right: 15px;
}